.example {
  border: 1px solid #EBECF0;
  margin: 5px;
  padding: 15px;
  background-image: linear-gradient(45deg, var(--ds-background-sunken, #f9f9fa) 25%, transparent 25%), linear-gradient(135deg, var(--ds-background-sunken, #f9f9fa) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--ds-background-sunken, #f9f9fa) 75%), linear-gradient(135deg, transparent 75%, var(--ds-background-sunken, #f9f9fa) 75%);
  background-position: 0 0, 10px 0, 10px -10px, 0 10px;
  background-size: 20px 20px;
}

div[data-style="ShowcaseStyles-showcaseCopyrightFooter"] span:after {
  content: "Copyright " attr(data-year) " by linked-planet GmbH";
}
